<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
  
    <rewrite>
        <rules configSource="rewriteRules.config">
        </rules>
    </rewrite>
    
    <httpProtocol>
        <customHeaders>
            <!--<add name="Access-Control-Allow-Origin" value="http://localhost:9000" />-->
        </customHeaders>
    </httpProtocol>
    
  </system.webServer>

</configuration>