<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.webServer>
  
    <rewrite>
        <rules>

	  	      <!-- DictService Begin -->
            <rule name="DictService" stopProcessing="true">
                <match url="^DictService/(.*)" />
		            <action type="Rewrite" url="http://services.aonaware.com/DictService/DictService.asmx/{R:1}" />
            </rule>
		        <!-- DictService End -->

	  	      <!-- WordnikService Begin -->
            <rule name="WordnikService" stopProcessing="true">
                <match url="^WordnikService/(.*)" />
		            <action type="Rewrite" url="http://api.wordnik.com/{R:1}?{QUERY_STRING}&amp;api_key=" />
            </rule>
		        <!-- DictService End -->
            
        </rules>
    </rewrite>
    
    <httpProtocol>
        <customHeaders>
            <add name="Access-Control-Allow-Origin" value="http://localhost:9000" />
        </customHeaders>
    </httpProtocol>
    
  </system.webServer>

</configuration>